<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="retryCount" value="5"/>
    <add key="initialInterval" value="1"/>
    <add key="increment" value="2"/>
    <add key="DataBaseTimeout" value="5"/>
    <add key="ConnectionStringDB" value="Server=tcp:pgrqasdbsirsi011.database.windows.net,1433;Initial Catalog=pgrqasqlsirsi013;Persist Security Info=False;User ID=sirsisqladmin;Password=#>5irP$O]."/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>