<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApiServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApiServicePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.bullhornstaffing.com/webservices-2.6/"
                binding="basicHttpBinding" bindingConfiguration="ApiServicePortBinding"
                contract="ServiceTest.ApiService" name="ApiServicePort" />
        </client>
    </system.serviceModel>
</configuration>